= javascript_tag do
  function swap() {
  Effect.toggle('range');
  Effect.toggle('answers');
  }

= form_for [@survey, @question], :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :spoken
    -if @question.spoken_file_name
      %br
      %i= @question.spoken_file_name
      %td= link_to "Remove Spoken Version", remove_question_spoken_path(@survey,@question), :confirm => "Are you sure you want to remove this audio file?"
    %br
    = f.file_field :spoken
  %p
    = f.label :question_type
    %br
    = select :question, :answer_type, Question::QUESTION_TYPES, {:default => 'multiple_choice'}, {:onchange => 'swap();'}
  %div#range{:style => 'display:none'}
    = f.label :range
    %br
    = f.text_field :range
  -if @question.id
    %div#answers
      =link_to "Add an answer to this question", new_survey_question_answer_path(@survey,@question)
      -unless @question.answers.empty?
        %table
          %th Display Order
          %th Name
          %th Text
          -@question.answers.each_with_index do |answer,num|
            %tr
              %td= "#{num + 1}."
              %td= link_to answer.name, edit_survey_question_answer_path(@survey,@question,answer)
              %td= answer.text
              %td= link_to 'Delete', [@survey, @question, answer], :confirm => 'Are you sure you want to delete this question?', :method => :delete
  %p
    = f.submit
