= javascript_tag do
  function swap() {
  Effect.toggle('range');
  Effect.toggle('answers');
  }
    
= form_for [@survey, @question] do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :spoken
    %br
    = f.text_field :spoken
  %p
    = f.label :question_type
    %br
    = select :question, :answer_type, Question::QUESTION_TYPES, {}, {:onchange => 'swap();'}
  %div#range{:style => 'display:none'}
    = f.label :range
    %br
    = f.text_field :range
  %div#answers
    %table
      -for i in (1..10)
        %tr
          %td
            =f.label "Answer #{i}"
          %td
            =f.text_field "answer#{i}"
  %p
    = f.submit
