-title "Question #{@display_question.position} of #{@survey.questions.count}"

%p.bigtext
  =@display_question.name

%p
  .answers
    = form_tag display_question_url, :survey => @survey do
      =hidden_field_tag 'survey_id', @survey.id
      =hidden_field_tag 'question_id', @display_question.id
      %table.bigtext
        -if @display_question.multiple_choice?
          -for answer in @display_question.answers
            %tr
              %td.answer
                ="#{answer.name}. "
              %td
                =answer.text
              %td.answer{:onMouseOver=>"this.style.backgroundColor='#FFF380';", :onMouseOut=>"this.style.backgroundColor='#FFFFFF';"}
                =radio_button_tag :answer, answer.id, {}, {:class => 'largeradio',}
            %br
        -else
          -display_range = (1..@display_question.range.to_i)
          %tr
            -for answer_num in display_range
              %td.bigtext.answer
                = answer_num.is_a?(Integer) ? "#{answer_num}" : "#{answer_num}."
          %tr
            -for answer_num in display_range
              %td.answer{:onMouseOver=>"this.style.backgroundColor='#FFF380';", :onMouseOut=>"this.style.backgroundColor='#FFFFFF';"}
                = radio_button_tag :range, answer_num, {}, {:class => 'largeradio'}
      %p
        =submit_tag "Previous Question" if @previous_question
        =submit_tag @display_question.last? ? "Finish" : "Next Question"
      %p
        =link_to "Start Over", start_current_survey_path(@survey)
        |
        =link_to "Home", survey_path(@survey)