= form_for @survey, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :spoken
    -if @survey.spoken_file_name
      %br
      %i= @survey.spoken_file_name
      %td= link_to "Remove Spoken Version", remove_spoken_path(@survey), :confirm => "Are you sure you want to remove this audio file?"
    %br
    = f.file_field :spoken
  %p
    = f.label :desc
    %br
    = f.text_area :desc
  %p
    = f.submit
