- title "Viewing Survey - " + @survey.name

%style{:type => "text/css", :media => "screen"}
  :plain
    .audioplayer2 {
      width:50%;
      margin-left:25%;
      margin-right:25%;
      background-color: black;
    }
    .audiobutton2 {
      background-image:url(/images/play.png)
      background-repeat:no-repeat;
      width: 100px;
      height: 100px;
      /* %input{:type => :button, :onclick => "playPause()", :controls => true, :value => ">>"} */
    }


%p
  %strong Spoken Version of Survey Description:
  %table
    %tr
  - if @survey.spoken_file_name.blank?
    %td
      %i No Spoken Version Found
  - else
    %td
      .audioplayer
        %audio{:src => @survey.spoken.url, :controls => 'controls', :type => @survey.spoken.content_type}
     
    %td= link_to "Remove Spoken Version", remove_spoken_path(@survey), :confirm => "Are you sure you want to remove this audio file?"
        

%p
  %strong Description:
  - if @survey.desc.blank?
    %i No Description found
  - else
    =@survey.desc

%p
  - unless @survey.questions.empty?
    %strong Questions:
    %table
      %th Number
      %th Name
      %th Audio
      %th Delete
      - @survey.questions.each_with_index do |question,i|
        %tr
          %td= (i + 1).to_s + "."
          %td= link_to question.name, edit_survey_question_path(@survey,question)
          %td
            -if question.spoken_file_name.blank?
              %i No Spoken Version Found
            -else
              %audio{:src => question.spoken.url, :controls => 'controls', :type => question.spoken.content_type}
          %td= link_to 'Delete', [@survey, question], :confirm => 'Are you sure you want to delete this question?', :method => :delete

%p
  = link_to "Add a question to this survey", new_survey_question_path(@survey)

%p
  = link_to "New Survey", new_survey_path
  |
  = link_to "Edit", edit_survey_path(@survey)
  |
  = link_to "Delete Survey", @survey, :confirm => 'Are you sure want to delete this survey, and associated questions?', :method => :delete
  |
  = link_to "View All Surveys", surveys_path
  |
  = link_to "Administer this Survey", administer_survey_path(@survey)
