-title "Question Report"
-start_date = Date.today - 30
-end_date = Date.today
-total_responses = @question.responses.count
%p{:style => 'font-size:140%'}
  ="\"#{@question.name}\""
%p
  %table
    %th
      Answer
    %th
      Total Responses
    -if @question.range?
      -Question.first.responses.group('responses.range').count.each do |ansname,rescnt|
        %tr
          %td
            =ansname
          %td
            ="#{rescnt} (#{"%2.2f" % (rescnt.to_f / total_responses.to_f)}%)"
      ="Range question, 1 to #{@question.range}"
    -else
      -for answer in @question.answers
        %tr
          %td
            ="#{answer.name}. #{answer.text}"
          %td
            -rescnt = answer.responses.count
            ="#{rescnt} (#{"%2.2f" % (rescnt.to_f / total_responses.to_f)}%)"
%p
  #splinechart
%hr
%p
  %table
    %tr
      %td
        #piechart{:style => 'width: 400px; height: 500px;'}
      %td
        #barchart{:style => 'width: 600px; height: 500px;'}
  
  :javascript
    function create_barchart() {
      new Highcharts.Chart({
         chart: {
            renderTo: 'barchart',
            defaultSeriesType: 'column',
            margin: [ 50, 50, 100, 80]
         },
         title: {
            text: 'Respondents by Answer'
         },
         xAxis: {
            categories: #{@question.bar_categories},
            labels: {
               rotation: -45,
               align: 'right',
               style: {
                   font: 'normal 13px Verdana, sans-serif'
               }
            }
         },
         yAxis: {
            min: 0,
            title: {
               text: 'Respondents'
            }
         },
         legend: {
            enabled: false
         },
         tooltip: {
            formatter: function() {
               return '<b>'+ this.x +'</b><br/>'+
                   Highcharts.numberFormat(this.y, 1);
            }
         },
         plotOptions: {
           column: {
           }
         },
         series: [{
            name: 'Respondents',
            data: #{@question.bardata},
            dataLabels: {
               enabled: true,
               rotation: -90,
               color: '#FFFFFF',
               align: 'right',
               x: -3,
               y: 10,
               formatter: function() {
                  return this.y + " respondents";
               },
               style: {
                  font: 'normal 13px Verdana, sans-serif'
               }
            }         
         }]
      });    
    }
    
    function create_piechart() {
      new Highcharts.Chart({  
        chart: { renderTo: 'piechart' },
        title: { text: 'Most Popular Responses' },
        tooltip: {
           formatter: function() {
              return '<b>'+ this.point.name +'</b>('+ this.y +' out of #{@question.responses.count})  ';
           }
        },
        plotOptions: {
           pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                 enabled: true,
                 formatter: function() {
                    return "Answer " + (this.point.x + 1);
                 },
                 color: 'white',
                 style: {
                    font: '13px Trebuchet MS, Verdana, sans-serif'
                 }
              }
           }
        },
        series: [{
          type: 'pie',
          name: 'Respondents',
          data: #{@question.piedata}
        }]
      });
    }

    function create_splinechart() {
       new Highcharts.Chart({
          chart: {
            renderTo: 'splinechart',
            defaultSeriesType: 'spline'
          },
          legend: { 
            y: 5
          },
          title: {
             text: 'Selected Responses Over Time'
          },
          subtitle: {
             text: '#{@question.responses.count} total responses,  #{start_date.to_s} to #{end_date}'
          },
          xAxis: {
            labels: {
              rotation: -90
            },
            categories: #{@question.spline_categories(start_date,end_date)}
          },
          yAxis: {
             title: {
                text: 'Number of Responses'
             }
          },
          tooltip: {
             enabled: false,
             formatter: function() {
                return '<b>'+ this.series.name +'</b><br/>'+
                   this.x +': '+ this.y;
             }
          },
          series: #{@question.spline_series(start_date,end_date)}
       });
    }
    
    $(document).ready(function() {
      create_barchart();
      create_piechart();
      create_splinechart();
    });
%p
  Select specific Question:
  =form_tag '/reports/question', :method => :get do
    = select_tag 'question_id', options_for_select(@question.survey.questions.collect{|q| [truncate(q.name,:lenth => 40),q.id]})
    = submit_tag 'Submit'
%p
  =link_to 'Back to Survey Report', show_survey_report_path(@question.survey)
