-title "Report - #{@survey}"

%p
  ="Total Questions: #{@survey.questions.count}"
%p
  ="Total Respondents: #{@survey.respondents.count}"
%p
  ="Last Response: #{@survey.updated_at}"
%p
  = link_to "Export Response Data", export_response_data_path(@survey)
%p
  #timechart
  :javascript
    $(function () {  
      new Highcharts.Chart({  
        chart: { renderTo: 'timechart' },
        title: { text: 'Respondents Per Day' },
        xAxis: { type: 'datetime' },
        yAxis: {
          title: { text: 'Number of Respondents' }
        },
        series: [{
          name: 'Number of Respondents',
          pointInterval: #{@survey.point_interval},
          pointStart: #{@survey.point_start},
          data: #{@survey.chartdata}
        }]
      });  
    });
%p
  Select specific Question:
  =form_tag '/reports/question', :method => :get do
    = select_tag 'question_id', options_for_select(@survey.questions.collect{|q| [truncate(q.name,:lenth => 40),q.id]})
    = submit_tag 'Submit'
%p
  =link_to "Back to Survey", survey_path(@survey)

