-title "Report for #{@survey.name} survey"

%p
  ="Total Questions: #{@survey.questions.count}"
%p
  ="Total Respondents: #{@survey.respondents.count}"
%p
  ="Last Response: #{@survey.updated_at}"
%p
  #timechart
  :javascript
    $(function () {  
      new Highcharts.Chart({  
        chart: { renderTo: 'timechart' },
        title: { text: 'Respondents per Day' },
        xAxis: { type: 'datetime' },
        yAxis: {
          title: { text: 'Number of Respondents' }
        },
        series: [{
          name: 'Number of Respondents',
          pointInterval: #{1.day * 1000},
          pointStart: #{3.weeks.ago.at_midnight.to_i * 1000 },
          data: #{(3.weeks.ago.to_date..Date.today).map { |date| @survey.total_respondents_on(date).to_f}.inspect}
        }]
      });  
    });
%p
  Questions: 
  =form_tag '/reports/question', :method => :post do
    = select_tag 'question_id', options_for_select(@survey.questions.collect{|q| [truncate(q.name,:lenth => 40),q.id]})
    = submit_tag 'Submit'
